{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create request</title>
  
  <link rel="stylesheet" href="{% static 'geoguessr/css/main.css' %}">
</head>
<body>
  <header class="header">
    <div class="logo">Location Finder</div>
    <nav class="nav">
      <a href="profile.html">Profile</a>
    </nav>
  </header>
  
  {% include 'service_menu.html' %}
  <main>
    <div class="profile-container">
      <section class="profile-main">
        <h1 class="main-title">Create new request</h1>
        {% csrf_token %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        
          <label for="photo">{{ form.photos.label }}</label>
          <div class="form-group">
            {{ form.photos }}
          </div>
        
          <label for="title">{{ form.title.label }}</label>
          <div class="form-group">
            {{ form.title }}
          </div>
        
          <label for="estimated_date">{{ form.estimated_date.label }}</label>
          <div class="form-group">
            {{ form.estimated_date }}
          </div>
        
          <label for="estimated_location">{{ form.estimated_location.label }}</label>
          <div class="form-group">
            {{ form.estimated_location }}
          </div>
        
          <label for="description">{{ form.description.label }}</label>
          <div class="form-group">
            {{ form.description }}
          </div>
        
          <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Send request</button>
          </div>
        </form>
      </section>
    </div>
  </main>
  <footer class="footer">
    &copy; 2025 Location Finder. All rights reserved.
  </footer>
</body>
</html>
