{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Map</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{% static 'geoguessr/css/main.css' %}">
</head>
<body>

  {% include 'service_menu.html' %}

  <main class="content">
    <h1 class="main-title">{{ req.title }}</h1>
    <div class="info-container">
      <div class="photo carousel">
        {% for imag in req.photos.all %}
        <img src="{{ imag.image.url }}" class="carousel-image active">
        {% endfor %}
        <button class="carousel-btn prev">‹</button>
        <button class="carousel-btn next">›</button>
      </div>
      <div class="map-container" id="map"></div>
    </div>
    
    <div class="description">
      <p>Опис: {{ req.description }}</p>
      <p>Приблизна дата: {{ req.estimated_date }}</p>
      <p>Приблизне місце: {{ req.estimated_location }}</p>
    </div>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <div class="coordinates" id="coords">Натисніть на карту, щоб обрати координати</div>
      <button class="btn" type="submit">Відправити</button>
      <div id="map" style="height: 300px;"></div><br>
    </form>
    
  </main>


  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>            
    var containerId = "map-{{ req.id }}";

    const map = L.map('map').setView([49.8397, 24.0297], 10);
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    let marker;
    map.on('click', function(e) {      
      const lat = e.latlng.lat.toFixed(5);
      const lng = e.latlng.lng.toFixed(5);
      
      if (marker) {
        marker.setLatLng(e.latlng);
      } else {
        marker = L.marker(e.latlng).addTo(map);
      }
      document.getElementById('lat').value = lat;
      document.getElementById('lng').value = lng;

      
      document.getElementById('coords').textContent = `Координати: ${lat}, ${lng}`;
    });
  </script>
</body>
</html>
