{% extends 'base.html' %}
{% block body_content %}
    <main class="login-container">
        <div class="login-card">
            <a href="{% url 'main-page' %}" class="back-arrow">←</a>
            <h1 class="login-title">Welcome back!</h1>
            <hr class="divider">
            <form method="post" class="signup-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-signup">Sign up</button>
            </form>    
            <!-- <a href="forgot-password.html" class="forgot-password">Forgot password?</a> -->
        </div>
    </main>
{% endblock %}
