{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'geoguessr/css/auth.css' %}">
{% endblock %}
{% block body_content %}
        <div class="login-card">
            <a href="{% url 'main-page' %}" class="back-arrow">←</a>
            <h1 class="login-title">Welcome back!</h1>
            <hr class="divider">
            <form method="post" class="signup-form">
                {% csrf_token %}
                {{ form.as_p }}
                {% for message in error_messages %}
                    <p>Error: {{ message }}</p>
                {% endfor %}
                <button type="submit" class="btn-signup">Sign up</button>
            </form>    
            <!-- <a href="forgot-password.html" class="forgot-password">Forgot password?</a> -->
        </div>
{% endblock %}
