{% extends 'base.html' %}
{% block body_content %}
<main>
  <section class="main">
    <div class="main-content">
      <h1 class="main-title">An innovative tool for searching locations on a map</h1>
      <p class="main-subtitle">
        Using photos and video data to significantly speed up the search
      </p>
      <img
        src="{% static 'geoguessr/images/logo.jpg' %}"
      />
      <div class="main-buttons">
        <a href="{% url 'login-page' %}" class="btn btn-primary">Sign In</a>
        <a href="{% url 'registration-page' %}" class="btn btn-outline">Sign Up</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}