{% extends 'base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'geoguessr/css/auth.css' %}">
{% endblock %}
{% block body_content %}
  <div class="signup-card">
    <a href="{% url 'main-page' %}" class="back-arrow">←</a>

    <h1 class="signup-title">Sign up!</h1>
    <hr class="divider" />

    <form method="post" class="signup-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-signup">Sign up</button>
    </form>

    <p class="already-have-account">
      Already have an account?
      <a href="{% url 'login-page' %}">Login</a>
    </p>
  </div>
{% endblock %}
