<header class="header">
    <div class="logo">Military Panel</div>
    <nav class="nav">
      {% if user.role == 'admin' %}
        <a href="{% url 'admin-panel' %}">Аплікації</a>
      {% endif %}
      <a href="{% url 'logout' %}">Вийти</a>
    </nav>
  </header>
  <aside class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="{% url 'profile' %}">Профіль</a></li>
      {% if user.role != 'seeker'%}
        <li><a href="{% url 'account' %}">Мої запити</a></li>
      {% endif %}
        <li><a href="{% url 'recognation_request_list' %}">Усі запити</a></li>
        {% block another_links %}{% endblock %}
    </ul>
    <a class="btn btn-promote" href="{% url 'recognation_request_create' %}">Create request</a>
  </aside>